.styleguide--sidebar {
  position: fixed;
  padding-top: 90px;
  height: 100%;
  width: 275px;
  overflow-y: scroll;

  text-transform: capitalize;
  background-color: var(--vf-color-brand-primary);
  z-index: 1;
}

.styleguide--sidebar-category {
  margin: var(--vf-spacing-xxl) 0;
}

.styleguide--sidebar-link {
  display: block;
  text-decoration: none;
  padding: var(--vf-spacing-lg) 0;

  color: var(--vf-color-white);
  background-color: transparent;
  transition: background-color var(--vf-transition);
}

.styleguide--sidebar-title {
  font-weight: 600;
  color: var(--vf-color-white);
  margin-bottom: var(--vf-spacing-lg);
}

.styleguide--sidebar-title,
.styleguide--sidebar-link {
  padding-left: var(--vf-spacing-xxl);
}

.styleguide--sidebar-link_active {
  color: var(--vf-color-white);
  background-color: var(--vf-color-brand-primary-dark);
}
