
@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.eot#iefix) format('embedded-opentype'),url(../fonts/icomoon.woff) format('woff'),url(../fonts/icomoon.ttf) format('truetype'),url(../fonts/icomoon.svg#icomoon) format('svg')
}

.dropdown-toggle .caret,.icon,.related-services .related-services-list .expand-chevron,.related-services .related-services-list a.active>.expand-chevron,[class*=" icon-"],[class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-calendar2:before {
    content: "\e90d"
}

.icon-chevron-left2:before {
    content: "\e90e"
}

.icon-close:before {
    content: "\e90f"
}

.icon-close2:before {
    content: "\e910"
}

.icon-commenting-o:before {
    content: "\e911"
}

.icon-external-link:before {
    content: "\e912"
}

.icon-heart-o:before {
    content: "\e913"
}

.icon-heart:before {
    content: "\e914"
}

.icon-info-circle:before {
    content: "\e915"
}

.icon-leaf:before {
    content: "\e916"
}

.icon-map-marker:before {
    content: "\e917"
}

.icon-share-alt:before {
    content: "\e918"
}

.icon-wheelchair:before {
    content: "\e919"
}

.icon-wechat:before {
    content: "\e90c"
}

.icon-facebook-round:before {
    content: "\e600"
}

.icon-instagram-round:before {
    content: "\e601"
}

.icon-instagram:before {
    content: "\e602"
}

.icon-pinterest-round:before {
    content: "\e603"
}

.icon-twitter-round:before {
    content: "\e604"
}

.icon-vk-round:before {
    content: "\e605"
}

.icon-weibo-round:before {
    content: "\e606"
}

.icon-youtube-round:before {
    content: "\e607"
}

.icon-arrow-ne:before {
    content: "\e608"
}

.icon-arrow-nw:before {
    content: "\e609"
}

.icon-arrow-se:before {
    content: "\e60a"
}

.icon-arrow-sw:before {
    content: "\e60b"
}

.icon-carousel-next:before {
    content: "\e60c"
}

.icon-carousel-previous:before {
    content: "\e60d"
}

.dropdown-toggle .caret:before,.icon-chevron-down:before,.related-services .related-services-list a.active>.expand-chevron:before {
    content: "\e60e"
}

.icon-chevron-left:before {
    content: "\e60f"
}

.icon-chevron-right:before,.related-services .related-services-list .expand-chevron:before {
    content: "\e610"
}

.icon-chevron-up:before {
    content: "\e611"
}

.icon-directory-eat:before {
    content: "\e612"
}

.icon-directory-event:before {
    content: "\e613"
}

.icon-directory-more:before {
    content: "\e614"
}

.icon-directory-sight:before {
    content: "\e615"
}

.icon-directory-sleep:before {
    content: "\e616"
}

.icon-dot-arrow-down:before {
    content: "\e617"
}

.icon-dot-arrow-left:before {
    content: "\e618"
}

.icon-dot-arrow-right:before {
    content: "\e619"
}

.icon-dot-arrow-up:before {
    content: "\e61a"
}

.icon-facebook:before {
    content: "\e61b"
}

.icon-globe:before {
    content: "\e61c"
}

.icon-navigation:before {
    content: "\e61d"
}

.icon-play:before {
    content: "\e61e"
}

.icon-search:before {
    content: "\e61f"
}

.icon-twitter:before {
    content: "\e620"
}

.icon-visitfinland:before {
    content: "\e621"
}

.icon-vflogo:before {
    content: "\e622"
}

.icon-flickr-3-round:before {
    content: "\e623"
}

.icon-flickr-2-round:before {
    content: "\e624"
}

.icon-flickr-1-round:before {
    content: "\e625"
}

.icon-bicycle:before {
    content: "\e626"
}

.icon-car:before {
    content: "\e627"
}

.icon-train:before {
    content: "\e628"
}

.icon-airplane:before {
    content: "\e629"
}

.icon-feed-round:before {
    content: "\e62a"
}

.icon-arrow-right:before {
    content: "\e62b"
}

.icon-flickr-round:before {
    content: "\e62c"
}

.icon-flickr-round-filled:before {
    content: "\e62d"
}

.icon-dot-cross:before {
    content: "\e62e"
}

.icon-weibo:before {
    content: "\e62f"
}

.icon-vk:before {
    content: "\e630"
}

.icon-mail:before {
    content: "\e631"
}

.icon-boat:before {
    content: "\e632"
}

.icon-map:before {
    content: "\e900"
}

.icon-phone:before {
    content: "\e901"
}

.icon-star-filled:before {
    content: "\e902"
}

.icon-calendar:before {
    content: "\e903"
}

.icon-check:before {
    content: "\e904"
}

.icon-circle-cross:before {
    content: "\e905"
}

.icon-circle-plus:before {
    content: "\e906"
}

.icon-cloud-upload:before {
    content: "\e907"
}

.icon-grid:before {
    content: "\e908"
}

.icon-printer:before {
    content: "\e909"
}

.icon-reply:before {
    content: "\e90a"
}

.icon-star:before {
    content: "\e90b"
}

[class*=" icon-"].multicolor,[class^=icon-].multicolor {
    position: relative;
    display: inline-block
}

[class*=" icon-"].multicolor>[class*=" icon-"],[class*=" icon-"].multicolor>[class^=icon-],[class^=icon-].multicolor>[class*=" icon-"],[class^=icon-].multicolor>[class^=icon-] {
    position: absolute;
    top: 0;
    left: 0
}

[class*=" icon-"].popout,[class^=icon-].popout {
    position: relative;
    font-size: 1.4em;
    padding-right: .2em;
    top: .2em
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
