.styleguide--ay {
  font-family: monospace;
  padding: var(--vf-spacing-lg);
  font-size: var(--vf-font-size-small);
  border: 1px solid var(--vf-color-lightgray);
}

.styleguide--ay-title {
  display: flex;
  align-items: center;
  margin-bottom: var(--vf-spacing-lg);
}

.styleguide--ay-description {
  margin: var(--vf-spacing-lg) 0;
  color: var(--vf-color-darkgray);
}

.styleguide--ay-tag {
  margin-right: var(--vf-spacing-lg);
  padding: var(--vf-spacing-xxs) var(--vf-spacing-xs);
  font-weight: 400;
  color: var(--vf-color-white);
  background-color: var(--vf-color-green);
}

.styleguide--ay-summary {
  padding-top: var(--vf-spacing-sm);
}

.styleguide--ay-code {
  display: inline-block;
  margin-top: var(--vf-spacing-xl);
}

.styleguide--ay-tag_loading {
  color: var(--vf-color-black);
  background-color: var(--vf-color-lightgray);
}

.styleguide--ay-tag_serious,
.styleguide--ay-tag_critical {
  background-color: var(--vf-color-red);
}

.styleguide--ay-tag_moderate {
  color: var(--vf-color-black);
  background-color: var(--vf-color-yellow);
}

.styleguide--ay-link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--vf-color-brand-primary);
}

.styleguide--ay-link:hover {
  text-decoration: none;
}